<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Santa Teresa de Jesús</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>895E38A6930F35EA2B9BB5669C66E5FD</string>
		<key>cover-image-path</key>
		<string>OEBPS/imgs/cover.png</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>D0D6C2CF6910B5045A41B969678BE01B</string>
		<key>publisher-unique-id</key>
		<string>9789588471129</string>
		<key>unique-id</key>
		<integer>5881839064578031754</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>genre</key>
	<string>poemas iluminados, literatura española, literatura mística, poesía religiosa, libro al viento, secretaría de cultura bogotá, julio paredes</string>
	<key>itemName</key>
	<string>Poemas iluminados</string>
	<key>playlistName</key>
	<string>Poemas iluminados</string>
	<key>releaseDate</key>
	<string>2013-01-20</string>
	<key>sort-artist</key>
	<string>Santa Teresa de Jesús</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
