<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Pedro Calderón de la Barca</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>3352A70F8A94C5C0CFF8DFAE811BDD9F</string>
		<key>cover-image-path</key>
		<string>OEBPS/imgs/cover.png</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>FB00EE2F484742745C5C81A6C2C08204</string>
		<key>publisher-unique-id</key>
		<string>9789588471136</string>
		<key>unique-id</key>
		<integer>3923588398173790875</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>genre</key>
	<string>la vida es sueño, teatro español, calderón de la barca, siglo de oro, libro al viento, secretaría de cultura bogotá, literatura universal</string>
	<key>itemName</key>
	<string>La vida es sueño</string>
	<key>playlistName</key>
	<string>La vida es sueño</string>
	<key>releaseDate</key>
	<string>2013-01-20</string>
	<key>sort-artist</key>
	<string>Calderón de la Barca, Pedro</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
