<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Carlo Collodi</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>FDE412427E8D5DA08284265492D3022A</string>
		<key>cover-image-path</key>
		<string>OEBPS/imgs/cover.png</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>A592E5AB4A23762E21765197E10626E0</string>
		<key>publisher-unique-id</key>
		<string>9789585731790</string>
		<key>unique-id</key>
		<integer>7394391891652595164</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>genre</key>
	<string>, pinocho, literatura universal, carlo collodi, literatura infantil, libro al viento, idartes, aventuras</string>
	<key>itemName</key>
	<string>Las aventuras de Pinocho</string>
	<key>playlistName</key>
	<string>Las aventuras de Pinocho</string>
	<key>releaseDate</key>
	<string>2012-12-05</string>
	<key>sort-artist</key>
	<string>Collodi, Carlo</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
