
.cover { vertical-align: middle;
	text-align: center;
	height: 100%;
	margin:0;
	padding: 0;
}

.fotoCentro { 
	text-align: center;
	width: 50%;
	max-width:50%;
	margin:0;
	padding: 0;
	text-indent: 0em;
	
}

.fotoLadillo { 
	text-align: center;
	width: 98%;
	max-width:98%;
	margin:0;
	padding: 0;
	text-indent: 0em;
	
}

.fotoCen { text-align:center; text-indent: 0em; margin:0.3em 0 0.3em 0;}

.foto_sideRight {
	width:45%;
	margin:0.2em 0 0.2em 0;
	float:right !important;
}

.foto_sideLeft {
	width:45%;
	margin:0.2em 0em 0.2em 0;
	float:left !important;
}

.foto_Final {
	width:100%;
	margin:0.2em 0 0.2em 0;
	text-align: center;
}

.vineta { 
	text-align: center;
	margin-top:0.6em;
	margin-bottom:0.8em;
	padding: 0;
	text-indent: 0em;
	
}


body { margin-left: 5%; margin-right: 5%; margin-top: 5%; margin-bottom: 5%; }

h1 {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 1.7em;
	font-weight:normal;
	line-height: 110%;
	text-align:center;
}

h2 {
	font-size: 1.4em;
	line-height:108%;
	margin-top: 0em;
	margin-bottom: 3em;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align:left;
}
.sinMarginBottom { margin-bottom:0; }

h3 {
	font-size: 0.9em;
	line-height:115%;
	font-weight: normal;
	font-style: normal;
	text-align:left;
	margin-bottom:3em;
	margin-top: .3em;
	font-variant:small-caps;
	margin-left:0em;
	
}

h4 {
	font-size: 1em;
	line-height:115%;
	font-weight: normal;
	font-style: normal;
	text-align:left;
	margin-top:0em;
	margin-bottom:.5em;
	font-variant:small-caps;
	margin-left:2em;
	text-indent:0;
}

p { font-size: 1em; 
	margin-top: 0; 
	margin-right:0; 
	margin-bottom: 0em; 
	margin-left: 1em; 
	text-align:left; 
	text-indent: 0em; }
	
.intro { font-size: 1em; 
	margin-top: 0; 
	margin-right:0; 
	margin-bottom: .5em; 
	margin-left: 0; 
	text-align:justify; 
	text-indent: 1em; }
	
.primerParrafo {
	text-indent: 0em; margin-left:0; margin-bottom: .5em; text-align:justify;
	
}

.bibliografia { 
	font-size: 0.9em; 
	margin-top: 0; 
	margin-right:0; 
	margin-bottom: 0.3em; 
	margin-left: 2em; 
	text-align:justify; 
	text-indent: -2em; 
}
 
a { text-decoration: none; }

.der { text-align:right;text-indent: 0em; }
.cen { text-align:center; text-indent: 0em;}
.izq { text-align:left;text-indent: 0em; margin-left:0; }
.autor { text-align:right; font-size:75%; margin-top:0; text-indent: 0em;}
.piefoto { text-align:center; font-size:70%; margin-top:1em; margin-left:0; text-indent: 0em;}
.texConte { font-size:0.9em; text-align:left; margin-bottom:0.2em; margin-top:0em; text-indent: 0em; margin-left:0; }
.texConte2 { font-size:0.9em; text-align:left; margin-left: 2em; margin-bottom:0.2em; margin-top:0em ; text-indent: 0em; }
.texVocab { text-align:left; font-size:80%; margin-bottom:3pt; margin-top:0;text-indent: 0em; }
.asterisco{ text-align: center; color: #900; text-indent: 0em; }
.espacio { margin-bottom:4em; text-indent: 0em; }
.epigrafe { text-align:right; font-size:0.9em; margin-top:0; text-indent: 0em; margin-left: 3em;}
.texlegal { text-align:left; font-size:65%; line-height:120%;margin-bottom:0em; text-indent: 0em; font-variant:small-caps;}
.texlegal2 { text-align:left; font-size:65%; line-height:120%;margin-bottom:0.1em; margin-left:2em; text-indent: 0em; }
.versalitas{ font-variant:small-caps; }